# Node modules
node_modules/

# TypeScript build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Env files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Optional: VSCode settings
.vscode/

# ts-node cache
.ts-node/
